// Your new color: here the primary color is a $dark blue
$lila: #662E8C;
$orange: #FF931E;
$rose: #EDB0C9;
$red: rgb(153, 72, 81);
// $warning
// $danger
$light: #F7EADE;
$dark: rgb(58, 58, 58);

@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Rozha+One');


//--------------General--------------
*,
button:focus {
  outline: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  overflow-y: overlay;
}

.onepage {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h1 {
  font-family: 'Rozha One', serif;
  padding: 30px 15px;
}

.standard-link {
  font-size: 1.5em;
  color: $dark;
  border-bottom: 5px solid $dark;
}

.standard-link:hover {
  color: $red;
  border-bottom: 5px solid $red;
}

a:hover {
  text-decoration: none;
}

.adder {
  width: 90px;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  z-index: 1;
}

.adder:hover {
  width: 86px;
}

.hidden {
  display: none
}

.butt {
  margin: 1px;
  padding: 10px;
  border: 1px solid $dark;
  background-color: white;
}

.butt:hover {
  color: white;
  background-color: $dark;
}

.active {
  color: white;
  background-color: $dark;
}

.Black {
  background-color: black;
  color: white;
}

.Grey {
  border: none;
  padding: 11px;
  background-color: grey;
  color: white;
}

.Red {
  border: none;
  padding: 11px;
  background-color: $red;
  color: white;
}

.Pink {
  border: none;
  padding: 11px;
  background-color: $rose;
  color: $dark;
}

.Orange {
  border: none;
  padding: 11px;
  color: $dark;
  background-color: $orange;
}

.Yellow {
  border: none;
  padding: 11px;
  background-color: rgb(252, 228, 125);
  color: $dark;
}

.Purple {
  border: none;
  padding: 11px;
  background-color: $lila;

  color: white;
}

.Blue {
  border: none;
  padding: 11px;
  background-color: rgb(98, 134, 211);
  color: white;
}

.Green {
  border: none;
  padding: 11px;
  background-color: rgb(153, 187, 90);
  color: white;
}

.Brown {
  border: none;
  padding: 11px;
  background-color: rgb(173, 140, 118);
  color: white;
}

.Mixed {
  border: none;
  padding: 11px;
  color: $dark;
  background-color: $light;
}

.Metallic {
  border: none;
  padding: 11px;
  color: $dark;
  background-color: $light;
}

//--------------App--------------
@keyframes slideIn {
  from {margin-left: 0}
  to {margin-left: -50vw}
}

@keyframes slideOut {
  from {margin-left: -50vw}
  to {margin-left: 0}
}

.slideIn {
  animation: slideIn 0.8s forwards;
}

.slideOut {
  animation: slideOut 0.8s forwards;
}

.App {
  text-align: center;

  .navtoggler {
    width: 80px;
    position: fixed;
    top: 5vw;
    left: 5vw;
    z-index: 1;
  }

  .navtoggler:hover {
    width: 76px;
  }

  .navbar {
    position: fixed;
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    background: $light;
    margin-left: -50vw;

    a {
      font-size: 1.5em;
      font-style: italic;
      color: $dark;
      line-height: 2em;
    }

    a:hover {
      text-decoration: none;
      color: $red;
      border-color: $red;
    }

    .logout {
      width: 80%;
      font-size: 1.5em;
      margin-top: 20vh;
      margin-bottom: -20vh;
      border-top: 5px solid black;
      text-align: right;
    }
  }
}

//--------------Start--------------
.Start {
  background: url("../images/start.svg") no-repeat top;
  background-size: cover;
  background-color: $light;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .logo {
    width: 60vw;
    margin-bottom: 30px;
  }

  .welcome {
    width: 50vw;
  }
  a {
    color: $orange;
    border-color: $orange;
  }
}

//--------------Signin--------------
@keyframes slideRight {
  from {
    margin-left: 0;
  }

  to {
    margin-left: -100vw;
  }
}

@keyframes slideLeft {
  from {
    margin-left: -100vw;
  }

  to {
    margin-left: 0;
  }
}

.slideRight {
  animation: slideRight 0.8s forwards;
}

.slideLeft {
  animation: slideLeft 0.8s forwards;
}

.Signin {
  height: 100vh;
  width: 200vw;
  display: flex;
  align-items: center;
  background: url("../images/login.svg") no-repeat center;

  div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    form {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 60%;

      input {
        padding: 10px;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0;
        border: none;
        background: $light;
      }

      .butt {
        margin-top: 10px;
      }
    }
  }

  .slider {
    margin-top: 5vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
    padding: 20px;
  }

  .arrow {
    width: 80px;
    margin: 0 15px 0 15px;
  }

  .arrow:hover {
    cursor: pointer;
  }
}

//--------------Profile--------------
.Profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background: url("../images/profile.svg") no-repeat bottom;
  background-size: cover;

  .random {
    padding: 15px;
  }
}

//--------------Closet--------------

.Closet {
  margin-top: 15px;

  .item-list {
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  form {

    margin: 0 10vw 0 10vw;

    .filter-bar {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      .textsearch {
        width: 70%;
        border: none;
        border-bottom: 5px solid $dark;
        text-align: right;
        line-height: 4em;
      }

      .link-like-button {
        width: 20%;
        border: none;
        background: transparent;
        border-bottom: 5px solid $dark;
      }
    }

    .filter-collapse {

      .filter-section {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 10px 0 10px 0;
        border-bottom: 5px solid $dark;
      }

      .special-needs-butt {
        border-radius: 0;
        background-color: white;
        color: black;
      }
    }
  }
}


//--------------ItemCard--------------
@keyframes fade {
  from {opacity: 1}
  to {opacity: 0.5}
}

.ItemCard {
  width: 39vw;
  height: 39vw;
  overflow: hidden;
  margin-bottom: 2vw;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ItemCard:hover {
  animation: fade 0.8s forwards;
}

//--------------ItemDetail--------------

.react-calendar-heatmap .color-scale-undefined {fill: $red}
.react-calendar-heatmap .color-empty {fill: $light}

.ItemDetail {
  text-align: left;

  .header {
    width: 100vw;
    height: 50vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .statistics {
    margin: 20px 10vw 0 10vw;
    
    .cost {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .delete-message {
    width: 100vw;
    height: 100vh;
    background-color: $pink;
    opacity: 0.5;
  }
}

//--------------AddItem--------------
.AddItem {
  margin: 50px 10vw 80px 10vw;
  position: absolute;
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    .filter-section {
      width: 100%;
      border-bottom: 5px solid $dark;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .file-upload {
      overflow: hidden;
      display: inline-block;
      position: relative;

      input {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        font-size: 2em;
      }
    }

    input,
    textarea {
      padding: 10px;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 0;
      border: none;
      background: $light;
    }

    .numbers {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      div {
        width: 48%;
      }
    }
  }
}

//--------------OOTD--------------
.scroll {
  width: 100vw;
  height: auto;
}

.Ootd {
  width: 200vw;
  display: flex;

  .left {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 10vw 0 10vw;

    input {
      padding: 10px;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 0;
      border: none;
      background: $light;
    }
  }

  .outfit {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .img-wrap {
      width: 15vw;
      height: 15vw;
      overflow: hidden;
      margin: 0 5px 2vw 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .right {
    width: 100vw;
  }
}

//--------------History--------------- 
.History {
  h1 {
    margin-top: 65px;
  }

  .herstory {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }


}